@media (max-width:1650px){
    .photo_block__item:nth-child(3){
        display: none;
    }
    .main-recent-posts__container_photo-block{
        display: flex;
        justify-content: space-evenly;
    }
    .item{
        width: 33%;
        height: 40%;
    }
}
@media(max-width:1615px){
    .projects__info_block{
        align-items: unset;
    }
    .projects__info_block div:nth-child(3) button{
        display: block;
        margin:0 auto ;
    }
    .info_block__container{
        display: flex;
        justify-content: space-around;
    }
    .header__top_title{
        font-size: 34px;
    }
    .header_title {
        font-size: 45px;
    }
}
@media (max-width:1250px){
    .partners_box__logo_container img{
        width: 180px;
    }
    .speciality{
        flex-wrap: wrap;
    }
    .speciality_element{
        height: 280px;
        width: 420px;
    }
    .speciality_element h2{
        font-size: 18px;
    }
    .speciality_element p{
        font-size: 15px;
    }
    .speciality_element__line{
        width:60px;
    }
    .item__top_title{
        font-size: 18px;
    }
    .item__title{
        font-size: 15px;
    }
    .title_container {
        margin-top: 15px;
    }
    .item span {
        margin-left: 10px;
    }
    .main_title{
        font-size:25px;
    }
    .main_subtitle{
        font-size:15px;
    }
    .purchase_product_block span:nth-child(1){
        font-size: 22px;
    }
    .purchase_product_block span:nth-child(2){
        font-size: 22px;
    }
    .purchase_product_block span:nth-child(3) {
        font-size: 15px;
    }
    .purchase_product_block__button{
        padding: 12px 30px;
        font-size: 14px;
    }
}
@media (max-width:1190px){
    .partners_box__logo_container img {
        width: 150px;
    }
    .nav_menu{
        flex-wrap: wrap;
    }
    .nav_menu__panel{
        width: 19%;
        height: 21%;
        margin: 10px 2px;
    }
    .nav_menu__right_panel{
        margin-left: 0;
        flex-direction: column;
        width: 25px;
    }
    .search_icon{
        display: block;
        margin-top: 10px;
    }
    .waxom_logo{
        display: flex;
        align-items: center;
    }
    .main-recent-posts__container_photo-block{
        flex-direction: column;
    }
    .photo_block__item {
        display: flex;
        flex-direction: unset;
        transition: .2s;
        justify-content: center;
        align-items: center;
    }
    .photo_block__item:not(.photo_block__item):hover{
        background-color: none;
    }
    .photo_block__item:hover > .photo_block_description{
        margin-top: 0px;
    }
    .photo_block__item:hover > .photo_block_description > .photo_block__item_subtitle{
        color: #8c8c8c;
    }
    .photo_block__item:hover {
        background-color: inherit;
    }
    .img_circles{
        display: block;
    }
    .footer{
        font-size: 14px;
    }
    .item img{
         width: 219px;
        height: 145px;
    }
    .projects__info_block {
        flex-wrap: wrap;
    }
    .item:hover {
        background-color: inherit;
    }
}
@media (max-width:1145px){
    .projects {
        height: 1100;
    }
    .efmd_title{
        margin: 0;
    }
    .nav_menu {
        margin-left: 0px;
        font-size: 16px;
    }
    .nav_menu__panel {
        width: 14%;
        height: 54%;
        margin: 6px 0px;
    }
    
}
@media (max-width:1061px){

}
@media (max-width:895px){
    .efmd_title ul img{
        margin: -5px 10px 0 0;
    }
    .content_counts{
        font-size: 28px;
    }
    .content_info{
        font-size: 15px;
    }
    .total_counts__container_content img {
        width: 40px;
        height: 40px;
    }
    .partners_box__logo_container img {
        width: 135px;
    }
}
@media (max-width:970px){
    .item__top_title{
        font-size: 15px;
    }
    .item__title{
        font-size: 13px;
    }
    .title_container {
        margin-top: 8px;
    }
    .item span {
        margin-left: 7px;
    }
    .footer{
        justify-content: space-evenly;
    }
    .speciality_element h2 {
        font-size: 15px;
    }
    .speciality_element p {
        font-size: 13px;
    }
    .speciality_element__line{
        height: 1px;
    }
    .partners_box{
        width: 100%;
        flex-direction: column;
    }
    .partners_box__logo_container:nth-child(2){
        margin: 40px 0;
    }
    .partners_box__logo_container:nth-child(3){
        margin-bottom: 40px;
    }
}
@media (max-width:780px){
    .nav_menu{
        display: none;
    }
    .nav_menu__right_panel{
        width: 70px;
        display: inline-block;
    }
    .nav_menu__right_panel li{
        display: inline-block;
    }
    .nav_menu__right_panel li:nth-child(1){
        margin-right: 10px;
    }
    .menu_box{
        display: flex;
        justify-content:space-evenly;
    }
    .menu_box__burger{
        display:block;
    }
    .menu{
        display: none;
        width: 90%;
    }
    .menu a{
        display: block;
        color: white;
    }
    label{
        display: block;
        font-size: 40px;
    }
    .burger_menu__panel {
        width: 100%;
        height: 12%;
        font-size: 14px;
    }
    #checkbox:checked > .menu{
        display: block;
    }
    .header_title {
        font-size: 35px;
    }
    .header__top_title {
        font-size: 27px;
    }
    .header__bottom_title{
        font-size: 15px;
    }
    .projects__panel__button{
        font-size: 12px;
    }
    .purchase_product_block__button{
        padding: 12px 30px;
        font-size: 12px;
    }
    .video_block__title_main{
        font-size: 24px;
    }
    .video_block__title_subtitle{
        font-size: 14px;
    }
    .main_title {
        font-size: 18px;
    }
    .main_subtitle{
        font-size: 13px;
    }
    .partners{
        height: 600px;
    }
    .photo_block__item_title{
        font-size: 16px;
    }
    .photo_block__item_subtitle{
        font-size: 14px;
    }
    .footer {
        font-size: 11px;
    }
}
@media (max-width:705px){
    .slider_nav{
        display: none;
    }
    .video_block{
        background-size: unset;
    }
    .efmd_image{
        display: none;
    }
    .efmd{
        text-align: center;
    }
    .efmd__container{
        flex-direction: column;
    }
    .section_margin {
        margin-top: 30px;
    }
    .img_content_day {
        font-size: 17px;
        padding: 3px 12px;
    }
    .img_content_month {
        font-size: 10px;
        padding: 5px 12px;
    }
    .total_counts__container{
        width: 100%;
        justify-content: space-between;
    }
    .content_info{
        font-size: 13px;
    }
    .content_counts {
        font-size: 23px;
    }
}